* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgb(245, 248, 255);
}

.noto-font {
  font-family: "Noto Serif", serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

p {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
}

/* nav style */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  gap: 48px;
  display: flex;
  align-items: center;
}

ul {
  gap: 48px;
  display: flex;
  justify-content: center;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
}

.nav-items ul li:nth-child(1) a {
  font-size: 16px;
  font-weight: 700;
  color: rgb(37, 36, 50);
}

.nav-items ul li:nth-child(2) a,
.nav-items ul li:nth-child(3) a {
  font-size: 16px;
  font-weight: 400;
  color: rgb(137, 135, 161);
}

/* hero section style */
.hero-section {
  margin-top: 120px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.hero-section-text {
  flex: 1;
}
.hero-section-text h1 {
  margin-bottom: 13px;
  font-size: 65px;
  font-weight: 700;
  color: rgb(233, 90, 8);
}

.hero-section-text h1 span {
  font-size: 65px;
  font-weight: 700;
  margin-right: 10px;
  color: rgb(0, 0, 0);
}

.hero-section-img {
  flex: 1;
}

.hero-section-img img {
  width: 100%;
  height: auto;
  display: block;
}
/* header section responsive style */
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  nav {
    max-width: 95%;
  }
  ul {
    display: none;
  }
  .hero-section {
    max-width: 95%;
    flex-direction: column-reverse;
  }
  .hero-section-text {
    margin: 0 auto;
    max-width: 95%;
  }
  .hero-section-text h1 {
    margin-top: 28px;
    text-align: left;
    font-size: 24px;
  }

  .hero-section-text h1 span {
    font-size: 24px;
  }

  .hero-section-text p {
    font-size: 14px;
  }
}

/* plants-section style */
.plants-section {
  text-align: center;
  margin-top: 120px;
}

.plants-section h2 {
  margin-bottom: 16px;
  font-size: 50px;
  font-weight: 700;
  color: rgb(233, 90, 8);
}

.plants-section h2 span {
  font-size: 50px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.plants-section p {
  width: 888px;
  margin: 0 auto;
}

.plant-cards {
  display: grid;
  column-gap: 20px;
  row-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 48px;
}

.plant-card {
  text-align: center;
}

.plant-title {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 500;
  color: rgb(17, 17, 17);
}

.price {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
  color: rgb(17, 17, 17);
}
.btn {
  margin-top: 30px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(233, 90, 8);
  padding: 26px 50px;
}

/* our plants responsive style */
@media screen and (max-width: 768px) {
  .plants-section {
    margin-top: 65px;
    width: 95%;
  }

  .plants-section h2,
  .plants-section h2 span {
    font-size: 24px;
  }

  .plants-section p {
    width: 90%;
    font-size: 14px;
  }
  .plant-cards {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
  }
  .plant-card img {
    margin: 0 auto;
  }
  .plant-card img {
    max-width: 100%;
  }

  .btn {
    padding: 25px 45px;
  }
}

/* plants-lover style */
.plants-lover {
  margin-top: 210px;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.plants-lover h3 {
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  color: rgb(0, 0, 0);
  width: 540px;
}
.badge {
  width: 286px;
  margin: -550px 0px 0 350px;
  position: absolute;
}

.plants-lover-img {
  flex: 1;
  width: 540px;
}

.plants-lover-text {
  flex: 1;
}

.plants-lover-text ul {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.plants-lover-text li {
  font-size: 22px;
  line-height: 27px;
  list-style: disc;
  color: rgba(0, 0, 0, 0.5);
}

.plants-lover-text li p {
  font-size: 22px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
}

/* plants-lover responsive style */
@media screen and (max-width: 768px) {
  .plants-lover {
    overflow: hidden;
    max-width: 95%;
    margin-top: 120px;
    flex-direction: column-reverse;
  }
  .plants-lover-text {
    width: 95%;
  }
  .plants-lover-text ul li {
    list-style: none;
  }

  .plants-lover-img {
    max-width: 95%;
  }
  .plants-lover-img img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .badge {
    position: absolute;
    top: 1060px;
    left: -45px;
    width: 40%;
    z-index: 1;
  }
}

/* last-deals-section style */
.last-deals-section {
  margin-top: 133px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.last-deals-section h4 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 16px;
  color: rgb(233, 90, 8);
}
.last-deals-section h4 span {
  font-size: 50px;
  font-weight: 700;
  color: black;
}

.last-deals-section p {
  width: 888px;
  margin-bottom: 120px;
}

.last-deal-section-img {
  gap: 28px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.last-deal-img-left {
  width: 33%;
  height: 423.13px;
}

.last-deal-img-left-card-1 {
  height: 47%;
  width: 100%;
  display: flex;
  margin-bottom: 27px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/deal-bloom.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.last-deal-img-left-card-2 {
  height: 47%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/deal-ana.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.last-deal-img-right {
  height: 423.13px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/deal-zabo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.last-deal-img-right .discount,
.shop-now {
  font-size: 40px;
}
.last-deal-img-right .shop-now {
  font-size: 30px;
}

.discount {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.shop-now {
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: underline;
}

/* last-deals-section style */
@media screen and (max-width: 768px) {
  .last-deal-section-img {
    flex-direction: column;
    height: auto;
    gap: 20px;
    border: 2px solid blue;
  }

  .last-deals-section p {
    width: 90%;
  }

  .last-deal-img-left {
    width: 95%;
  }

  .last-deal-img-right {
    height: 581px;
    width: 95%;
    border-radius: 30px;
  }
}
